body {
    background-image: url("../img/bg_five.png");
    background-size:cover;
    max-width: 1000px;
    margin: 0 auto; 
}

main {
    width: 100%; 
    margin: 20px 0px; 
    font-family: 'Monoton', cursive;
    text-align: center;
    padding: 10px;
}

.tile4 {
    position: absolute;
    top: 12.0625em;
    left: 49.6875em;
    border: pink solid 5px;
}

.tile8 {
    position: absolute; 
    top: 19.875em;
    left: 44.375em;
}

.tile8:hover {
    border: solid 3px yellow;
    cursor: pointer; 
}

.tile11 {
    position: absolute; 
    top: 27.5em;
    left: 43.75em;
}

.tile16 {
    position: absolute; 
    top: 35.3125em;
    left: 55.3125em;
}
