html {
    font-size: 100%;
}

body {
    background-image: url("../img/bg_four.png");
    background-size:cover;
    max-width: 1000px;
    margin: 0 auto; 
}

main {
    width: 100%; 
    margin: 1.25em 0px; 
    font-family: 'Monoton', cursive;
    text-align: center;
    padding: .625em;
}

.tile3 {
    position: absolute;
    top: 193px;
    right: 710px;
    border: pink solid 5px;
}

.tile4 {
    position: absolute;
    top: 193px;
    right: 618px;
}

.tile8 {
    position: absolute; 
    top: 318px;
    left: 700px;
}

.tile9 {
    position: absolute; 
    top: 318px;
    left: 795px;
}

.tile9:hover {
    border: solid 3px yellow;
    cursor: pointer; 
}


.tile10 {
    position: absolute; 
    top: 440px;
    left: 610px;
}

.tile11 {
    position: absolute; 
    top: 440px;
    left: 700px;
}

.tile12 {
    position: absolute; 
    top: 440px;
    left: 792px;
}

.tile16 {
    position: absolute; 
    top: 565px;
    left: 885px;
}
