@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Macondo&display=swap');

body {
    background-color: #08CB62;
    max-width: 1000px;
    margin: 0 auto; 
}

header {
    width: 100%; 
    margin: 100px 0px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 10px;
}

p {
    color: yellow;
}

main {
    width: 100%; 
    margin: 20px 0px; 
    font-family:
    text-align: center;
    padding: 10px;
}

button {
    background-color:white;
    border: solid black 1px;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20%;
}

button:hover {
    background-color: blue;
    color: white;
    cursor: pointer; 
}