body {
    background-image: url("../img/bg_sixx.png");
    background-size:cover;
    max-width: 1000px;
    margin: 0 auto; 
}

main {
    width: 100%; 
    margin: 20px 0px; 
    font-family: 'Monoton', cursive;
    text-align: center;
    padding: 10px;
}

button {
    position: absolute;
    top: 3em; 
    left: 128em;
    background-color: rgba(207, 205, 188, 0.747);
}

button:hover {
    cursor: pointer;
}


.tile11 {
    position: absolute; 
    top: 27.5em;
    left: 43.75em;
    border: pink solid 5px;
}

.tile16 {
    position: absolute; 
    top: 35.3125em;
    left: 55.3125em;
}

.tile16:hover {
    border: solid 3px yellow;
    cursor: pointer; 
}

