body {
    background-image: url("../img/bg_two.png");
    background-size:cover;
    max-width: 1000px;
    margin: 0 auto; 
}

main {
    width: 100%; 
    margin: 20px 0px; 
    font-family: 'Monoton', cursive;
    text-align: center;
    padding: 10px;
}

button {
    position: absolute;
    top: 3em; 
    left: 128em;
    background-color: rgba(207, 205, 188, 0.747);
}

button:hover {
    cursor: pointer;
}


.tile2 {
    position: absolute;
    top: 12.0625em;
    left:38.125em;
}

.tile3 {
    position: absolute;
    top: 12.0625em;
    left: 43.75em;
}

.tile4 {
    position: absolute;
    top: 12.0625em;
    left: 49.6875em;
}

.tile5 {
    position: absolute; 
    top: 19.875em;
    left: 26.875em;
    border: pink solid 5px;
}

.tile6 {
    position: absolute; 
    top: 19.875em;
    left: 32.5em;
}

.tile7 {
    position: absolute; 
    top: 19.875em;
    left: 38.125em;
}

.tile8 {
    position: absolute; 
    top: 19.875em;
    left: 44.375em;
}

.tile9 {
    position: absolute; 
    top: 19.875em;
    left: 49.6875em;
}

.tile10 {
    position: absolute; 
    top: 27.5em;
    left: 38.125em;
}

.tile11 {
    position: absolute; 
    top: 27.5em;
    left: 43.75em;
}

.tile12 {
    position: absolute; 
    top: 27.5em;
    left: 49.5em;
}

.tile15 {
    position: absolute; 
    top: 35.3125em;
    left: 43.75em;
}

.tile16 {
    position: absolute; 
    top: 35.3125em;
    left: 55.3125em;
}

.tile17 {
    position: absolute; 
    top: 35.3125em;
    left: 49.375em;
}

.tile18 {
    position: absolute; 
    top: 15.625em;
    left: 40.625em;
}

.tile18:hover {
    border: solid 3px yellow;
    cursor: pointer; 
}

.tile20 {
    position: absolute; 
    top: 23.4375em;
    left: 46.375em;
}
